<div class="BlancLine" style="height: 2vh;"></div>
<div class="eight columns max" style="height: 90vh;margin-left: 1vw">
   <div class="form-responsive row" style="margin-left: 0vw;width: 98vw;">
      <label for="BlancLine" style="min-height: 0.5vh;"></label>
      <div class="twelve columns" style="margin-top:-1vh ;text-align: left;">
         <select input id="input-Machine" [(ngModel)]="Machine" input type="text"
            (change)=" itemService.getMachine($any($event.target).value)" style="height: 4vh;
                              width: 9vw;
                              color: black;
                              font-weight: 900;
                              text-align: left;
                              margin-left: 55.5vw;
                              margin-bottom: 1vh; border: 1px solid  !important;">

            <option style="font-weight: 900;font-size: large;" value="Lst_SDK_013_011">GROOTVERPAKKING</option>
            <option style="font-weight: 900;font-size: large;" value="Lst_SDK_013_012">KLEINVERPAKKING</option>
            <option style="font-weight: 900;font-size: large;" value="Lst_SDK_013_013">NETZAKJES</option>
            <option style="font-weight: 900;font-size: large;" value="Lst_SDK_013_014">INPAK A16</option>
            <option style="font-weight: 900;font-size: large;" value="Lst_SDK_013_015">ETIKETTEN</option>

         </select>
      </div>
   </div>
   <div #datagrid id="datagridLeft" soho-datagrid [gridOptions]="dataGridOptions" [data]="dataGridOptions?.dataset"
      (selected)="onSelectedLeft($event) ">
   </div>
   <!-- <div class="BlancLine" style="height: 3vh;"></div> -->

</div>
<div class="four columns " style="margin-left: 0.5vw;">

   <hr style="border: 1px solid #000000;width:30.5vw;margin-left: 1vw;" />

   <div class="three columns ">
      <div class="DescriptionSmall">Productieorder </div>
      <div class="DescriptionSmall">Omschrijving </div>
      <div class="DescriptionSmall">Klant </div>
      <div class="remark2">{{this.F1A030==""||!this.F1A030?"":"Opmerking" }} </div>
      <div class="BlancLine" style="height: 1.3vh"></div>
      <div class="DescriptionSmall">Type pallet </div>
      <div class="DescriptionSmall">Aantal per pallet </div>
      <div class="BlancLine" style="height: 1.3vh;"></div>
      <div class="DescriptionSmall">Orderaantal </div>
      <div class="DescriptionSmall">Reeds geproduceerd </div>
      <div class="DescriptionSmall">Nog produceren </div>
      <div class="BlancLine" style="height: 0.3vh;"></div>
      <hr style="border: 1px solid #000000;width:30.5vw" />
      <div class="DescriptionSmall">Gekoppelde locatie </div>
      <div class="DescriptionSmall">Lotcode </div>
      <hr style="border: 1px solid #000000;width:30.5vw" />

      <div class="BlancLine" style="height: 4.7vh;"></div>

      <div class="DescriptionSmall">Partijnummer </div>
      <div *ngIf="Rasfout">
         <div class="DescriptionSmall" style="color: red;"> Ras
         </div>
      </div>
      <div *ngIf="RasOk">
         <div class="DescriptionSmall" style="color: #000000;">Ras </div>
      </div>
      <div class="DescriptionSmall">LvO </div>
      <div class="DescriptionSmall">Maat</div>
      <div *ngIf="GGNfout">
         <div class="DescriptionSmall" style="color: red;"> GGN </div>
      </div>
      <div *ngIf="GGNOk">
         <div class="DescriptionSmall" style="color: #000000;">GGN </div>
      </div>


      <div class="DescriptionSmall">Certificaten </div>
      <div class="BlancLine" style="height: 0.3vh"></div>
      <hr style="border: 1px solid #000000;width:30.5vw" />
   </div>
   <div class="nine columns " style="padding-right: 1.1vw;">


      <div *ngIf="this.selectedRow">
         <div class="value">{{!this.selectedProductLeft?" ":this.selectedProductLeft+' - '+
            this.selectedProductionOrderNumberLeft}}</div>
         <div class="value">{{this.selectedProductionOrderDescriptionLeft }} </div>
         <div class="value">{{this.CUNMLeft }}</div>
         <div class="remark">{{this.F1A030==""?"":this.F1A030 }}</div>
         <div class="BlancLine" style="height: 1.3vh"></div>
         <div class="value">{{this.Palletname}} </div>
         <div class="value">{{this.PalletAantalLeft}} </div>
         <div class="BlancLine" style="height: 1.3vh;"></div>
         <div class="value">{{this.OrderQuantityLeft }} </div>
         <div class="value">{{this.AlreadyProducedLeft=="0"?" ":this.AlreadyProducedLeft }} </div>
         <div class="value">{{this.QuantityToReceiveLeft }} </div>
         <div class="BlancLine" style="height: 1.3vh;"></div>
         <div class="value">{{this.BunkerLeft}}</div>
         <input id="input-Bano" [(ngModel)]="this.ExistingLotcodeLeft" (change)="UpdateBano($event)" maxlength="5"
            size="5" onclick="this.select();"
            style="width: 4vw;margin-left: 18.2vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />
         <!-- <hr style="border: 1px solid #000000;width:auto" /> -->
         <div class="one columns">

            <div class="BlancLine" style="height: 8.5vh;"></div>
            <div style="min-height: 2.2vh;">
               <div *ngIf="Rasfout">
                  <div class="DescriptionSmall" style="color: red;"> (!)</div>
               </div>
            </div>
            <div class="DescriptionSmall"></div>
            <div class="DescriptionSmall"></div>
            <div *ngIf="GGNfout">
               <div class="DescriptionSmall" style="color: red;"> (!)</div>
            </div>
         </div>
         <div class="five columns">
            <div class="BlancLine" style="height: 3.3vh;"></div>
            <div class="DescriptionSmall" style="margin-left: 5vw;font-size: 20px;">Bunker </div>
            <hr style="border: 1px solid #000000;width:auto" />
            <div class="value">{{this.LocBano}}</div>
            <div class="value">{{this.LocRas}}</div>
            <div class="value">{{this.LocLVO}}</div>
            <div class="value">{{this.LocSize}}</div>
            <div class="value">{{this.LocGGN}}</div>
            <div *ngIf="LocGGNcheck">
               <div class="value" style="text-transform: uppercase;">{{this.LocPP}}{{this.LocGrasp===""?"":',
                  '+this.LocGrasp}}{{this.LocSpring===""?"":',
                  '+this.LocSpring}}
               </div>
            </div>
         </div>


         <!-- </div> -->
         <div class="six columns">
            <div class="BlancLine" style="height: 3.4vh;"></div>

            <div class="Description" style="margin-left: 7.5vw;font-size: 20px;">Order </div>
            <hr style="border: 1px solid #000000;width:auto" />
            <div class="value">{{this.MTNO_BANO}}</div>
            <div class="value">{{MTNO_RAS}}</div>
            <div class="value">{{this.A3ATAV}}</div>
            <input id="input-Size" [(ngModel)]="this.A4ATAV" (change)="UpdateSize($event)" onclick="this.select() ;"
               style="width: 4vw;margin-left: 6vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />
            <div class="value">{{this.A1ATAV}}</div>
            <!-- <div class="value">{{this.A2ATAV}}</div> -->


            <!-- <div class="value">{{this.A4ATAV}}</div> -->
            <div class="value" style="text-wrap: nowrap;text-transform: uppercase;">
               {{this.A5ATAV}}{{this.A6ATAV===""?"":',
               '+this.A6ATAV}}{{this.A7ATAV===""?"":',
               '+this.A7ATAV}}
            </div>
         </div>
         <!-- <div class="value">{{this.A6ATAV}}</div>
      <div class="value">{{this.A7ATAV}}</div> -->

         <!-- <div class="value">{{this.ExistingLotcodeLeft}} </div> -->
         <div class="BlancLine" style="height: 1.3vh;"></div>
         <!-- <hr style="border: 1px solid #000000;width:auto" /> -->
      </div>
   </div>
   <div class="twelve columns" style="margin-top: 2vh;">
      <div class="six columns" style="margin-left: 0vh;">
         <div class="DescriptionSmall" style="margin-left: 0vw;font-size: 20px;">Controle Start </div>
         <hr style="border: 1px solid #000000;width:14.5vw" />
         <div class="five columns" style="margin-left: 0vh;">
            <div class="DescriptionSmall">Weging</div>
            <div class="DescriptionSmall">Codering correct? (Y/N) </div>
            <div class="DescriptionSmall" style="text-wrap: nowrap; ">Codering goed leesbaar? (Y/N)</div>
            <div class="DescriptionSmall">Seal in orde? (Y/N) </div>
            <div *ngIf="IsBIO">
               <div class="DescriptionSmall" style="text-wrap: nowrap; ">Bio, machine vrij van gangbaar?</div>
            </div>
            <div class="DescriptionSmall">Machinenummer </div>
            <div class="DescriptionSmall">Naam controleur </div>
         </div>
         <div class="two columns" style="margin-left: 0vh;">
            <div class="DescriptionSmall" style="width: 6vw;text-align: right;">
               {{!this.A8ATAN||this.A8ATAN=="0"?"":this.A9ATAN>0?'(+'+this.A9ATAN+')':'&nbsp;&nbsp;
               ('+this.A9ATAN+')'}}</div>
         </div>
         <div class=" five columns">
            <input id="input-Attributes" [(ngModel)]="A8ATAN"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();"
               style="width: 3vw;margin-left: 4.1vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B2ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B3ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B4ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="C2ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();"
               *ngIf="IsBIO">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <input id="input-Attributes" [(ngModel)]="C1ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();"
               style="width: 4vw;margin-left: 3.1vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />

            <input id="input-Attributes" [(ngModel)]="B9ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();"
               style="width: 4vw;margin-left: 3.1vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />

         </div>
      </div>
      <div class="six columns" style="margin-left: 1vw;min-height: 19vh;">
         <div class="DescriptionSmall" style="margin-left: 0vw;font-size: 20px;">Controle Eind </div>
         <hr style="border: 1px solid #000000;width:14.5vw" />
         <div class="five columns" style="margin-left: 0vh;">
            <div class="DescriptionSmall">Weging</div>
            <div class="DescriptionSmall">Codering correct? (Y/N) </div>
            <div class="DescriptionSmall" style="text-wrap: nowrap; ">Codering goed leesbaar? (Y/N)</div>
            <div class="DescriptionSmall">Seal in orde? (Y/N) </div>
            <div class="DescriptionSmall" style="text-wrap: nowrap; ">Vrij van optische gebreken? (Y/N) </div>

         </div>
         <div class="two columns" style="margin-left: 0vh;">
            <div class="DescriptionSmall" style="width: 6vw;text-align: right;">
               {{!this.AHATAN||this.AHATAN=="0"?"":this.B1ATAN>0?'(+'+this.B1ATAN+')':'&nbsp;&nbsp;
               ('+this.B1ATAN+')'}}</div>
         </div>
         <div class=" five columns">
            <input id="input-Attributes" [(ngModel)]="AHATAN"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();"
               style="width: 3vw;margin-left: 4.1vw;text-align: center;height: 2.2vh;font-weight: 900;font-size: 1.6rem;padding-right: 1px;border:1px solid;" />

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B5ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B6ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B7ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>

            <select style="margin-left: 4.1vw;width: 3vw;font-weight: 900;border:1px solid;padding-left: .7vw;"
               id="input-Attributes" [(ngModel)]="B8ATAV"
               (change)="this.ShowButtonSaveControles=true;this.ShowButtonBoxLabel=false" onclick="this.select();">
               <option style="font-weight: 900;" value=""></option>
               <option style="font-weight: 900;" value="Y">Y</option>
               <option style="font-weight: 900;" value="N">N</option>
            </select>
         </div>
      </div>
      <div class="twelve columns" style="min-height:10vh;margin-left: 0vw;">
         <!-- <div class="six columns"> -->
         <!-- <div class="BlancLine" style="height: 1px"></div> -->
         <input id="input-QuantityBoxLabels" [(ngModel)]="QuantityBoxLabels" (keydown.enter)="PrintBoxLabels($event)"
            *ngIf="ShowButtonBoxLabel" style="width: 6vw;margin-left: 16.5vw;text-align: center;height: 5vh;border: #0072ED 4px solid;
         border-radius: 9px;    padding-right: 21px;    font-weight: 900;    font-size: 25px; "
            onfocus="this.value=''" />
         <button
            style="    margin-left: -1vw;      width: 8.5vw;      height: 5vh;font-weight: 900;    font-size: 25px;padding-left: 0px;"
            soho-button="primary" *ngIf="ShowButtonBoxLabel" (click)="PrintBoxLabels($event)">Print dooslabel</button>
         <!-- </div>
      <div class="six columns"> -->
         <!-- <div class="BlancLine" style="height: 1px"></div> -->
         <button
            style="margin-left: 21.4vw;width: 8.5vw;      height: 5vh;font-weight: 900;    font-size: 25px;padding-left: 0px;"
            soho-button="primary" *ngIf="ShowButtonSaveControles" (click)="UpdateAttributes($event)">Save
            Controles</button>
         <!-- </div> -->
      </div>
      <!-- <div class="twelve columns"> -->
      <input id="input-QuantityToReceiveLeft" [(ngModel)]="MaxQuantityToReceiveLeft"
         (keydown.enter)="ReceiveQuantityLeft($event)" style="width: 6vw;margin-left: 16.5vw;text-align: center;height: 5vh;border: #0072ED 4px solid;
         border-radius: 9px;    padding-right: 21px;    font-weight: 900;    font-size: 25px;"
         *ngIf="ShowbuttonToReceive" onfocus="this.value=''" />
      <button style="    margin-left: -1vw;      width: 8.5vw;      height: 5vh;font-weight: 900;    font-size: 25px;"
         soho-button="primary" (click)="ReceiveQuantityLeft($event)" *ngIf="ShowbuttonToReceive">Ontvangen</button>
      <button
         style="margin-left: 21.4vw;width: 8.5vw;      height: 5vh;font-weight: 900;    font-size: 25px;padding-left: 0px;"
         soho-button="primary" *ngIf="ShowButtonCloseOrder" (click)="CloseOrder($event)">Close order</button>
      <!-- </div> -->


   </div>
</div>
