.Description {
   height: 2vh;
   text-wrap: nowrap;
   color: black;
   font-weight: 900;
   font-size: 1.6rem;
}

.DescriptionSmall {
   height: 2.2vh;
   min-height: 2.2vh;
   width: 10vw;
   color: black;
   font-weight: 900;
   font-size: 1.6rem;
   margin-bottom: 0vh;

}

.inputfield {
   height: 2vh;
   color: black;
   font-weight: 900;
   margin-bottom: 3vh
}


.empty {
   height: 2.5vh;
}

.value {
   min-height: 2.2vh;
   height: 2.2vh;
   color: black;
   font-weight: 900;
   text-align: right;
   font-size: 1.6rem;
}

.remark {
   empty-cells: hide;
   text-align: right;
   font-size: 1.6rem;
   font-weight: 900;
   color: red;
}

.remark2 {
   empty-cells: hide;
   text-align: left;
   font-size: 1.6rem;
   font-weight: 900;
   color: red;
}

.red {
   background-color: red !important;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
}

.tooltip-text {
   visibility: hidden;
   position: absolute;
   width: auto;
   color: black;
   font-size: 12px;
   background-color: white;
   border-radius: 3px;
   border: black 1px solid
}

.hover-text:hover .tooltip-text {
   visibility: visible;
}

#top {
   top: -2vh;
   left: 3vw
}

#left {
   top: -2vh;
   left: -3vw
}

.hover-text {
   height: 2.2vh;
   min-height: 2.2vh;
   width: 10vw;
   color: black;
   font-weight: 900;
   font-size: 1.6rem;
   margin-bottom: 0vh;
   position: relative;
}
