<soho-icons-new></soho-icons-new>
<soho-icons-empty-new> style = "height: 10px </soho-icons-empty-new>


<app-component-Left></app-component-Left>




<!-- <div class=" twelve columns" style="margin-left: 0vw;padding-right: 0px;width: 98vw;"> -->


<!-- <div class="six columns " style="height: 54vh;margin-left: 0vw;width: 49.5vw;">

         </div> -->
<!-- <div class="six columns " style="height: 54vh;margin-left: 0vw;width: 49.5vw; "> -->
<!-- <app-component-Right></app-component-Right> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div>
   </div>
   <div class="three columns" style="width: 10vw;">
      <table style=" border-radius: 5px; border: 2px solid; height: 16vh;width: 12vw; margin-top:
                     23vh;font-size: 4vh;padding-left: 1vw;">{{this.itemService.MachineLeft}}
      </table>
   </div> -->

<!-- <div class="three columns">
   <table style=" border-radius: 5px; border: 2px solid; height: 16vh;width: 12vw; margin-top:
                  23vh;margin-left: 12vw;font-size: 12vh;padding-left: 1vw;">{{this.itemService.MachineRight}}
   </table>
</div> -->
